body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebefe2;
}

/* HERO SECTION */
.hero {
    background: url("https://lyt.ai/wp-content/uploads/2022/10/heavy-traffic-2022-11-01-09-26-41-utc-scaled.jpg") no-repeat center center/cover;
    height: 100vh;
    color: rgb(240, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(147, 133, 133, 0.6);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 50px;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background-color: #00c3ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.hero button:hover {
    background-color: #0077aa;
}

/* SECTION LAYOUT */
.section {
    display: flex;
    padding: 80px 10%;
    align-items: center;
    gap: 40px;
}

.section.reverse {
    flex-direction: row-reverse;
}

.section .text {
    flex: 1;
}

.section .image {
    flex: 1;
}

.section img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.section h2 {
    font-size: 32px;
    color: #2c5364;
}

.section ul {
    padding-left: 20px;
}

/* FOOTER */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

